@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
/*Reset*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --light-grey: #f7f7f7;
  --dark-grey: #353738;
  --middle-grey: #848789;
  --bg-centered: no-repeat center/cover;
}

*, *::after, *::before {
  -webkit-tap-highlight-color: transparent;
}

* img {
  max-width: 100%;
  max-height: 100%;
}

input, textarea {
  border-radius: 0;
}

a, a:visited, :active {
  color: currentColor;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1110px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--1100 {
  max-width: 1130px;
}

.logo__link {
  display: inline-block;
}

.logo__img {
  width: 94px;
  height: 85px;
}

.title {
  color: var(--dark-grey);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

.header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__fullscreen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  background: url("../img/background/header-bg.webp") var(--bg-centered);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 0;
  margin: 0 auto;
}

.burger {
  display: none;
  width: 45px;
  height: 35px;
  background: transparent;
  position: relative;
}
.burger::before, .burger::after {
  content: "";
}
.burger::before, .burger::after, .burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--dark-grey);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active::before, .burger.active::after, .burger.active span {
  background-color: var(--light-grey);
}
.burger.active::before {
  -webkit-transform: rotateZ(135deg) translateY(50%);
          transform: rotateZ(135deg) translateY(50%);
  top: 50%;
}
.burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.burger.active::after {
  -webkit-transform: rotateZ(-135deg) translateY(-50%);
          transform: rotateZ(-135deg) translateY(-50%);
  bottom: 50%;
}

.header__list {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__list-item {
  padding: 0 30px;
}
.header__list-item:nth-child(3n-2) {
  position: relative;
}
.header__list-item:nth-child(3n-2)::after {
  content: "";
  width: 2px;
  height: 2px;
  background: black;
  position: absolute;
  right: 0;
  bottom: 0;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about__top {
  background: var(--light-grey);
  padding: 115px 0 140px 0;
}

.about__top-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  text-align: center;
}

.about__top-img {
  height: 45px;
}

.about__top-text {
  color: var(--middle-grey);
  font-size: 18px;
  line-height: 34px;
}

.about__main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__main-row--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__main-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.about__main-col--b {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.about__main-col-accent-img {
  height: 100%;
  position: relative;
}

.hover-img {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.hover-img:hover {
  opacity: 100%;
  background-color: rgba(100, 194, 158, 0.5);
}

.hover-img--conpany {
  background: url("../img/icons/about-company-logo.png") no-repeat center;
}

.hover-img--vintage {
  background: url("../img/icons/about-vintage-logo.png") no-repeat center;
}

.hover-img--red-frame {
  background: url("../img/icons/about-red-logo.png") no-repeat center;
}

.hover-img--red-bicycle {
  background: url("../img/icons/about-red-logo.png") no-repeat center;
}

.hover-img--shop {
  background: url("../img/icons/shop-logo.png") no-repeat center;
}

.about__main-col-accent-img--company {
  background: url("../img/background/about-company.webp") var(--bg-centered);
}

.about__main-col-accent-img--vintage {
  background: url("../img/background/about-vintage.webp") var(--bg-centered);
}

.about__main-col-accent-img--red-frame {
  background: url("../img/background/about-red-frame.webp") var(--bg-centered);
}

.about__main-col-accent-img--red-bicycle {
  background: url("../img/background/about-red.webp") var(--bg-centered);
}

.about__main-col-text-block {
  padding: 70px 67px 54px;
  position: relative;
}
.about__main-col-text-block::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotateZ(45deg);
          transform: translateX(-50%) rotateZ(45deg);
  width: 20px;
  height: 20px;
  background: white;
}

.about__main-text-block-icon {
  margin: 0 0 30px 0;
  text-align: center;
}

.about__main-text-block-title {
  margin: 0 0 20px 0;
}

.about__main-text-block-text {
  color: var(--middle-grey);
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}
.about__main-text-block-text::after {
  content: "";
  margin: 40px auto 0;
  width: 50px;
  height: 1px;
  background: #dfdfdf;
  text-align: center;
  display: block;
}

.about__main-col-img {
  padding: 0 0 37.503% 0;
}

.about__main-col-img--company {
  background: url("../img/background/about-company-seat.webp") var(--bg-centered);
}

.about__main-col-img--vintage {
  background: url("../img/background/about-vintage-seat.webp") var(--bg-centered);
}

.about__main-col-img--red {
  background: url("../img/background/about-red-wheel.webp") var(--bg-centered);
}

.slider {
  padding: 124px 0 68px 0;
}

.slick-list {
  margin: 0 0 104px 0;
}

.slider__icon {
  text-align: center;
  height: 35px;
}
.slider__icon img {
  display: inline;
}

.slider__title {
  margin: 35px 0 27px 0;
}

.slider__post-time {
  font-weight: 300;
  color: var(--middle-grey);
  text-transform: none;
}

.slider__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  color: var(--middle-grey);
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  padding: 0 20px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #a9afb3;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.slick-dots .slick-active button {
  background: #a9afb3;
}

.shop__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.shop__gallery-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.shop__gallery-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 50% 0;
  position: relative;
}

.shop__gallery-img--full-width {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.shop__gallery--full-height {
  padding: 0 0 100% 0;
}

.gal-1 {
  background: url("../img/background/shop-seat-1.webp") var(--bg-centered);
}

.gal-2 {
  background: url("../img/background/shop-seats.webp") var(--bg-centered);
}

.gal-3 {
  background: url("../img/background/shop-seat-2.webp") var(--bg-centered);
}

.gal-4 {
  background: url("../img/background/shop-bag-1.webp") var(--bg-centered);
}

.gal-5 {
  background: url("../img/background/shop-backwheel.webp") var(--bg-centered);
}

.gal-6 {
  background: url("../img/background/shop-shop.webp") var(--bg-centered);
}

.gal-7 {
  background: url("../img/background/shop-seat-3.webp") var(--bg-centered);
}

.gal-8 {
  background: url("../img/background/shop-bag-2.webp") var(--bg-centered);
}

.shop__discover {
  padding: 75px 0;
  background: #282f35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.shop__discover-btn {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  line-height: 48px;
  padding: 0 56px;
  text-transform: uppercase;
}

.subscribe {
  padding: 110px 0;
}

.subscribe__body {
  text-align: center;
}

.subscribe__logo {
  margin: 0 0 40px 0;
}

.subscribe__title {
  margin: 0 0 35px 0;
  color: var(--middle-grey);
  font-size: 24px;
  font-style: italic;
}

.subscribe__form {
  max-width: 534px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
}

.subscribe__email {
  height: 70px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid #d3d7d9;
  padding: 0 30px;
  font-size: 20px;
  line-height: 24px;
}
.subscribe__email::-webkit-input-placeholder {
  color: #929292;
  font-style: italic;
}
.subscribe__email::-moz-placeholder {
  color: #929292;
  font-style: italic;
}
.subscribe__email:-ms-input-placeholder {
  color: #929292;
  font-style: italic;
}
.subscribe__email::-ms-input-placeholder {
  color: #929292;
  font-style: italic;
}
.subscribe__email::placeholder {
  color: #929292;
  font-style: italic;
}

.subscribe__submit {
  height: 70px;
  padding: 0 45px;
  text-transform: uppercase;
  background: #64c29e;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.footer {
  padding: 100px 0;
  background: var(--light-grey);
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__address {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  color: var(--middle-grey);
  font-style: italic;
  line-height: 18px;
}

.footer__city {
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
}

.footer__socials {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.footer__socials-link {
  width: 35px;
  height: 34px;
  border-radius: 50%;
}

.footer__socials-link--twitter {
  background: url("../img/icons/footer-twitter-logo.png") var(--bg-centered);
}

.footer__socials-link--patreon {
  background: url("../img/icons/footer-patreon-logo.png") var(--bg-centered);
}

.footer__author {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  color: var(--middle-grey);
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  body.active {
    overflow: hidden;
  }

  .header__menu {
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .burger {
    display: block;
    position: absolute;
    z-index: 1;
    top: 35px;
    right: 35px;
  }

  .header__list {
    position: absolute;
    top: -100vh;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #4b3a46;
    color: var(--light-grey);
  }
  .header__list.active {
    top: 0;
  }

  .header__list-item {
    padding: 30px 0;
  }
  .header__list-item:nth-child(3n-2)::after {
    background: var(--light-grey);
    right: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
  }

  .about__main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__main-col-accent-img {
    padding: 0 0 70% 0;
  }

  .about__main-col-text-block {
    padding-left: 30px;
    padding-right: 30px;
  }

  .shop__gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .shop__gallery-col {
    width: 100%;
  }

  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }

  .subscribe__email {
    height: 60px;
  }

  .subscribe__submit {
    height: 60px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
}
@media (max-height: 500px) and (max-width: 768px) {
  .header__list-item {
    padding: 15px 0;
  }
}